main > aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-board);
  padding: 0 2rem 0 1.5rem;
  height: 3rem;
  gap: 2rem;
  background-color: #222;

  & > div:first-of-type {
    display: flex;
    align-items: center;

    img {
      width: 1.75rem;
      aspect-ratio: 1/1;
    }

    div.score {
      font-size: 0.75rem;
      margin-left: 0.25rem
    }
  }
}