{% extends "layouts/layout.njk" %}
{% block title %}
Home
{% endblock %}
{% block content %}
  <main class="home">
    <h1><img src="/images/ui/banner.png"</img></h1>
    <button id="match">Find an opponent</button>
  </main>
{% endblock %}

{% block scripts %}{% endblock %}